@page "/en/download"
@page "/fr/telechargement"

@inherits BasePageComponent
@inject IStringLocalizer<Download> Localizer

<PageDetails Value="@Localizer["Title"]" />

<h1>@Localizer["Title"]</h1>

@code {

}