@page "/en/download"
@page "/fr/telechargement"

@using Microsoft.Extensions.Localization
@inherits BasePageComponent

@inject IStringLocalizer<Download> Localizer

<h1>@Localizer["Title"]</h1>

@code {

}
