@page "/en"
@page "/fr"

@inherits BasePageComponent

@using Microsoft.Extensions.Localization
@inject IStringLocalizer<Index> Localizer

<h1>@Localizer["Hello"]</h1>

<p><a href="@Localizer["Test"]">User page</a></p>