<section id="wb-lng" class="text-right">
    <h2 class="wb-inv">Language selection</h2>
    <ul class="list-inline margin-bottom-none">
        <li><a lang="@Language" hreflang="@Language" href="@Href">Français</a></li>
    </ul>
</section>

@code{
    [Parameter]
    public string Language { get; set; }

    [Parameter]
    public string Href { get; set; }
}