@page "/en/user"
@page "/en/user/{Name}"
@page "/fr/usager"
@page "/fr/usager/{Name}"
@inherits BasePageComponent

<h3>User</h3>

@code {
    [Parameter]
    public string Name { get; set; }
}

@*https://blazor-tutorial.net/knowledge-base/50102726/get-current-url-in-a-blazor-component*@
https://www.c-sharpcorner.com/article/routing-in-blazor/