@page "/en/user/{Name}"
@page "/fr/usager/{Name}"

@inherits BasePageComponent
@inject IStringLocalizer<User> Localizer

<PageTitle Title="@Localizer["Title"]" />

<h1>@Localizer["Title"]</h1>
@if (!string.IsNullOrEmpty(Name))
{
    <p>User Name: @Name</p>
}

@code {
    [Parameter]
    public string Name { get; set; }
}

@*https://blazor-tutorial.net/knowledge-base/50102726/get-current-url-in-a-blazor-component*@
@*https://www.c-sharpcorner.com/article/routing-in-blazor/*@