@inject State.ApplicationState AppState

<div>
    @AppState.AppTop
</div>

@code
{
    protected override void OnInitialized()
    {
        AppState.AppTopChanged += () =>
        {
            StateHasChanged();
        };
    }
}